body {text-align: center;}
h1 {color: green;}
img {border: 2px black solid;}
a {font-weight: bold;}
a:hover {color:red;}
p {margin-bottom: 20px; font-size: 18px; font-weight: bold;}
/* everyting innit */